Repository reyalka/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: stylua, fish_indenet, yamlfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}
    fish_indenet:
      glob: "*.fish"
      run: fish_indent -w {staged_files}
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt {staged_files}

feat: gitsignsを追加
  config/nvim/lazy-lock.json
  config/nvim/lua/plugins/barbar.lua
  config/nvim/lua/plugins/conform.lua
  config/nvim/lua/plugins/copilot.lua
  config/nvim/lua/plugins/fidget.lua
  config/nvim/lua/plugins/gitsigns.lua
  config/nvim/lua/plugins/hlchunk.lua
  config/nvim/lua/plugins/lualine.lua
  config/nvim/lua/plugins/markview.lua
  config/nvim/lua/plugins/noice.lua
  config/nvim/lua/plugins/nvim-cmp.lua
  config/nvim/lua/plugins/nvim-highlight-colors.lua
  config/nvim/lua/plugins/nvim-insx.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
  config/nvim/lua/plugins/nvim-treesitter.lua
  config/nvim/lua/plugins/oil.lua
  config/nvim/lua/plugins/vim-doc-ja.lua
  config/nvim/lua/plugins/vimdoc-ja.lua
  config/nvim/lua/plugins/wakatime.lua
  config/nvim/lua/plugins/which-key.lua
Due: stylua

feat: nekonightつらい
  config/nvim/lua/plugins/colorsheme.lua
Due: stylua

feat: fall.vimのkeymapを追加
  config/nvim/lua/plugins/vim-fall.lua
Due: stylua

feat: starterにversionを表示
  config/nvim/lazy-lock.json
  config/nvim/lua/plugins/barbar.lua
  config/nvim/lua/plugins/mini_starter.lua
Due: stylua

feat: abbrのpをpkill->pnpmに
  config/fish/config.fish
Due: fish_indenet

feat: deltaを追加
  config/aqua/aqua.yaml
  config/git/config
Due: yamlfmt

chore: format
  config/nvim/lua/plugins/gitsigns.lua
  config/nvim/lua/plugins/mini_starter.lua
  config/nvim/lua/plugins/vim-doc-ja.lua
Due: stylua

feat: load fall.vim on VimEnter
  config/nvim/lua/plugins/nvim-lspconfig.lua
  config/nvim/lua/plugins/vim-fall.lua
Due: stylua

feat: toHex function
  config/fish/config.fish
Due: fish_indenet

feat: aerialを追加
  config/nvim/lazy-lock.json
  config/nvim/lua/plugins/aerial.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

s
  config/nvim/lua/plugins/aerial.lua
Due: stylua

feat: disable merge.conflictstyle
  config/git/config
Due: none

feat: gitのabbr
  config/fish/config.fish
Due: fish_indenet

feat: zsh
  config/.zshrc
  script/install.sh
Due: none

fix: ./<filename>がURLと判定されてしまう
  config/nvim/lua/config/custom.lua
Due: stylua

feat: oilを開いたときのいろいろ
  config/nvim/lua/plugins/oil.lua
Due: stylua

chore: format
  config/nvim/lua/plugins/oil.lua
Due: stylua

feat: vim-fallのtsのconfig
  config/nvim/fall/custom.ts
Due: none

feat: new abbr!!
  config/fish/config.fish
Due: fish_indenet

feat: keymapを整理
  config/nvim/lua/config/keymaps.lua
  config/nvim/lua/plugins/aerial.lua
  config/nvim/lua/plugins/oil.lua
Due: stylua

feat: denolsとtailwindcssをlspのlistに追加
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

chore: update
  config/nvim/lua/config/plugins.lua
Due: stylua

feat: lazygit.nvim
  config/nvim/lua/plugins/lazygit.lua
Due: stylua

feat: add desc for keymaps
  config/nvim/lua/plugins/barbar.lua
  config/nvim/lua/plugins/conform.lua
  config/nvim/lua/plugins/oil.lua
  config/nvim/lua/plugins/vim-fall.lua
Due: stylua

chore: format
  config/nvim/lua/plugins/barbar.lua
  config/nvim/lua/plugins/lazygit.lua
  config/nvim/lua/plugins/oil.lua
Due: stylua

feat: cmp-calcは使わない
  config/nvim/lua/plugins/nvim-cmp.lua
Due: stylua

chore: update
  config/nvim/lazy-lock.json
Due: none

feat: apply compact layout
  config/zellij/layouts/ide.kdl
Due: none

feat: kdlのtreesitter
  config/nvim/lua/plugins/nvim-treesitter.lua
Due: stylua

wip: oklch-color-picker.lua
  config/nvim/lua/plugins/oklch-color-picker.lua
Due: stylua

feat: proot command
  config/fish/config.fish
Due: fish_indenet

feat: colorschemeの切り替えを実装
  config/nvim/lazy-lock.json
  config/nvim/lua/plugins/colorsheme.lua
Due: stylua

feat: voltaを実装
  config/aqua/aqua.yaml
  config/fish/config.fish
  script/completions.fish
Due: fish_indenet, yamlfmt

chore: format
  config/nvim/lua/plugins/colorsheme.lua
Due: stylua

feat: goplsを追加
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

fix: wakatime.vim
  config/nvim/lua/plugins/wakatime.lua
Due: stylua

feat: brewで管理していたものを一部aquaに移動
  config/aqua/aqua.yaml
Due: yamlfmt

feat: push.autoSetupRemote
  config/git/config
Due: none

feat: fish-extract pluginを追加
  config/fish/fish_plugins
Due: none

feat: nvim-surrondを追加
  config/nvim/lazy-lock.json
  config/nvim/lua/plugins/nvim-surround.lua
Due: stylua
