Repository reyalka/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: stylua, fish_indenet, yamlfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}
    fish_indenet:
      glob: "*.fish"
      exclude: "config/fish/{completions,conf.d,functions,themes}/*.fish"
      run: fish_indent -w {staged_files}
    yamlfmt:
      glob: "*.yml"
      run: yamlfmt {staged_files}

feat: moonbitをpathに追加
  config/fish/config.fish
Due: fish_indenet

fix: crostiniで動かない
  config/wezterm/wezterm.lua
Due: stylua

fix: ignoreされてた
  lefthook.yml
Due: yamlfmt

style: apply format
  config/nvim/lua/keymaps.lua
Due: stylua

feat: CopilotChat.nvim
  config/nvim/lua/plugins.lua
Due: stylua

feat: keymap for copilotchat
  config/nvim/lua/keymaps.lua
Due: stylua

feat: aquaで管理
  config/aqua/aqua.yaml
Due: none

fix: これ思いついたの天才かもしれん
  .gitignore
  config/aqua/aqua.yaml
  config/fish/config.fish
  config/nvim/lazy-lock.json
  config/nvim/lua/plugins.lua
Due: stylua, fish_indenet

feat: 別ファイルに
  config/aqua/aqua.yaml
  config/fish/config.fish
  config/nvim/init.lua
  config/nvim/lua/config/init.lua
  config/nvim/lua/config/keymaps.lua
  config/nvim/lua/config/lazy.lua
  config/nvim/lua/config/options.lua
  config/nvim/lua/config/plugins.lua
  config/nvim/lua/pluginsmulti/bufferline.lua
  config/nvim/lua/pluginsmulti/conform.lua
  config/nvim/lua/pluginsmulti/hlchunk.lua
  config/nvim/lua/pluginsmulti/mini_starter.lua
  config/nvim/lua/pluginsmulti/nvim-cmp.lua
  config/nvim/lua/pluginsmulti/nvim-insx.lua
  config/nvim/lua/pluginsmulti/nvim-lspconfig.lua
  config/nvim/lua/pluginsmulti/nvim-treesitter.lua
Due: stylua, fish_indenet

feat: vim-fall
  config/nvim/lua/pluginsmulti/bufferline.lua
  config/nvim/lua/pluginsmulti/noice.lua
  config/nvim/lua/pluginsmulti/vim-fall.lua
Due: stylua

feat: OilとCopilotの調整
  .editorconfig
  config/nvim/lua/pluginsmulti/copilot.lua
  stylua.toml
Due: stylua

feat: Formatコマンドを実装
  config/nvim/lazy-lock.json
  config/nvim/lua/config/custom.lua
  config/nvim/lua/pluginsmulti/conform.lua
Due: stylua

feat: new plugins
  config/nvim/lua/pluginsmulti/vim-doc-ja.lua
  config/nvim/lua/pluginsmulti/wakatime.lua
Due: stylua

feat: config.customを追加
  config/nvim/lua/config/init.lua
Due: stylua

feat: rtpプラグインを無効化して高速化
  config/nvim/lua/config/lazy.lua
Due: stylua

feat: nekonight
  config/nvim/lua/pluginsmulti/colorsheme.lua
Due: stylua

chore: format
  config/nvim/lua/pluginsmulti/copilot.lua
  config/nvim/lua/pluginsmulti/mini_starter.lua
Due: stylua

feat: migrate exist plugins
  config/nvim/lua/pluginsmulti/barbar.lua
  config/nvim/lua/pluginsmulti/conform.lua
  config/nvim/lua/pluginsmulti/copilot.lua
  config/nvim/lua/pluginsmulti/fidget.lua
  config/nvim/lua/pluginsmulti/hlchunk.lua
  config/nvim/lua/pluginsmulti/lualine.lua
  config/nvim/lua/pluginsmulti/nvim-highlight-colors.lua
  config/nvim/lua/pluginsmulti/oil.lua
  config/nvim/lua/pluginsmulti/vimdoc-ja.lua
  config/nvim/lua/pluginsmulti/which-key.lua
Due: stylua

feat: dieable unnecessery keymap
  config/nvim/lua/config/keymaps.lua
Due: stylua

chore: format
  config/nvim/lua/pluginsmulti/colorsheme.lua
  config/nvim/lua/pluginsmulti/conform.lua
Due: stylua

fix: tsserver -> ts_ls
  config/nvim/lua/pluginsmulti/nvim-lspconfig.lua
Due: stylua

feat: noice
  config/nvim/lua/pluginsmulti/noice.lua
Due: stylua

feat: disable noice.nvim while launching fall.vim
  config/nvim/lua/pluginsmulti/vim-fall.lua
Due: stylua

up: some cli
  config/aqua/aqua.yaml
Due: none

up: some plugins
  config/nvim/lazy-lock.json
Due: none

feat: pluginsmulti -> plugins
  config/nvim/lua/config/lazy.lua
  config/nvim/lua/plugins/barbar.lua
  config/nvim/lua/plugins/colorsheme.lua
  config/nvim/lua/plugins/conform.lua
  config/nvim/lua/plugins/copilot.lua
  config/nvim/lua/plugins/fidget.lua
  config/nvim/lua/plugins/hlchunk.lua
  config/nvim/lua/plugins/lualine.lua
  config/nvim/lua/plugins/mini_starter.lua
  config/nvim/lua/plugins/noice.lua
  config/nvim/lua/plugins/nvim-cmp.lua
  config/nvim/lua/plugins/nvim-highlight-colors.lua
  config/nvim/lua/plugins/nvim-insx.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
  config/nvim/lua/plugins/nvim-treesitter.lua
  config/nvim/lua/plugins/oil.lua
  config/nvim/lua/plugins/vim-doc-ja.lua
  config/nvim/lua/plugins/vim-fall.lua
  config/nvim/lua/plugins/vimdoc-ja.lua
  config/nvim/lua/plugins/wakatime.lua
  config/nvim/lua/plugins/which-key.lua
Due: stylua

feat: renovate
  .github/renovate.json
Due: none

fix: copilot.vim is not working
  config/nvim/lua/plugins/copilot.lua
  lefthook.yml
Due: stylua, yamlfmt

feat: abbr for clipboard
  config/fish/config.fish
Due: fish_indenet

feat: NixのLS
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

fix: deno_ls -> denols
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: deagnosticのfloating windowを設定
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

fix: 右のキーなら右に進めよ
  config/nvim/lua/plugins/barbar.lua
Due: stylua

feat: nvim-cmpをCtrlベースに
  config/nvim/lua/plugins/nvim-cmp.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: diagnosticのfloating windowを設定
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: mini.starterをカスタマイズ
  config/nvim/lua/plugins/mini_starter.lua
Due: stylua

feat: install.shあとでやる
  config/nvim/lua/plugins/mini_starter.lua
  script/install.sh
Due: stylua

feat(aqua): act
  config/nvim/lua/plugins/mini_starter.lua
Due: stylua

feat(nvim): extended gF
  config/nvim/lua/config/custom.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: gFをそのままに、gfをgFに
  config/nvim/lua/config/custom.lua
  config/nvim/lua/config/keymaps.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua
