Repository reyalka/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: stylua, fish_indenet, yamlfmt, just-fmt

lefthook.yml:

pre-commit:
  piped: true
  commands:
    stylua:
      glob: "*.lua"
      run: stylua {staged_files} -f ./stylua.toml
    fish_indenet:
      glob: "*.fish"
      run: fish_indent -w {staged_files}
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt {staged_files}
    just-fmt:
      glob: "justfile"
      run: just --fmt --unstable
    check_diff:
      run: |
        # 作業ツリーの変更を一時退避（ステージされたものは保持）
        git stash push --keep-index --quiet --include-untracked || true

        # 差分チェック（ステージされたものと比較）
        git diff --exit-code --quiet
        RESULT=$?

        # 退避していた作業ツリーを戻す
        git stash pop --quiet || true

        # 差分があったらコミットを中断
        if [ $RESULT -ne 0 ]; then
          echo "💡 フォーマットによる変更が検出されました。修正内容を確認し、再度ステージングしてください。" && exit 1
        fi

feat: setup zinit
  config/.zshrc
Due: none

feat: add flake.nix
  flake.nix
Due: none

feat[WIP]: home-managerを導入
  config/home-manager/flake.lock
  config/home-manager/flake.nix
  config/home-manager/home.nix
  flake.lock
Due: none

fix: pathの順番を調整
  config/fish/config.fish
Due: fish_indenet

feat: relativenumberを導入
  config/nvim/lua/config/options.lua
Due: stylua

feat: nvim-ix
  config/nvim/lua/plugins/nvim-ix.lua
Due: stylua

???: これでいいのか
  .envrc
Due: none

up
  config/nvim/lazy-lock.json
Due: none

feat: up to 0.11 config
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

fix: サーバー名を修正
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: 設定終わり
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

chore: fmt
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: update for nix
  config/fish/config.fish
Due: fish_indenet

feat: disable relativenumber when opening oil
  config/nvim/lua/plugins/oil.lua
Due: stylua

feat: add ft for nvim-ts-autotag
  config/nvim/lua/plugins/nvim-ts-autotag.lua
Due: stylua

feat: setup main branch edition of nvim-treesitter
  config/nvim/lua/plugins/nvim-treesitter.lua
Due: stylua

feat: 完璧
  config/nvim/lazy-lock.json
  config/nvim/lua/plugins/nvim-cmp.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
  config/nvim/lua/plugins/shell-abbr.lua
Due: stylua

feat: LSPをfiletypeイベントで発火
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

chore: fmt
  config/fish/config.fish
Due: fish_indenet

feat: upgrade aqua version
  config/aqua/aqua.yaml
Due: yamlfmt

feat: add checksums for aqua
  config/aqua/aqua-checksums.json
  config/aqua/aqua.yaml
Due: yamlfmt

うまくいかない
  config/nvim/lua/plugins/skkeleton.lua
Due: stylua

feat: tomlに対応
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: note command for notify
  config/fish/config.fish
Due: fish_indenet

feat: add target excluded by `dt` command
  config/fish/config.fish
Due: fish_indenet

feat: home-managerを導入
  config/home-manager/config.fish
  config/home-manager/home.nix
  script/install.sh
Due: fish_indenet

feat: いらないよね、こんなの
  config/home-manager/config.fish
Due: fish_indenet

wip: nvim config
  config/nvim/lazy-lock.json
  config/nvim/lua/config/plugins.lua
  config/nvim/lua/plugins/colorsheme.lua
  config/nvim/lua/plugins/nvim-cmp.lua
  config/nvim/lua/plugins/nvim-lspconfig.lua
  config/nvim/lua/plugins/nvim-treesitter.lua
Due: stylua

feat: wezterm config
  config/wezterm/wezterm.lua
Due: stylua

feat: update zellij config
  config/zellij/config.kdl
  config/zellij/layouts/ai.kdl
Due: none

feat: update fish config
  config/fish/config.fish
  config/fish/config.fish.backup
  config/fish/fish_plugins
Due: fish_indenet

feat: update nix config
  config/home-manager/home.nix
Due: none

chore: fmt
  config/starship.toml
Due: none

feat: add gh
  config/home-manager/home.nix
Due: none

feat: add some clis
  config/home-manager/config.fish
  config/home-manager/home.nix
Due: fish_indenet

feat: jjを導入
  config/home-manager/home.nix
Due: none

feat: litecli, terraform
  config/home-manager/home.nix
Due: none

feat: disable wakatime
  config/nvim/lua/plugins/wakatime.lua
Due: stylua

feat: install doppler completion
  script/completions.fish
Due: fish_indenet
