Repository reyalka/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: stylua, fish_indenet, yamlfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    stylua:
      glob: "*.lua"
      run: stylua {staged_files}
    fish_indenet:
      glob: "*.fish"
      run: fish_indent -w {staged_files}
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt {staged_files}

feat: わかりやすくて損はしない
  config/fish/config.fish
Due: fish_indenet

feat: aquaのオプションってわかりにすぎる
  config/fish/config.fish
Due: fish_indenet

feat: justを追加
  config/aqua/aqua.yaml
  justfile
  lefthook.yml
  script/completions.fish
Due: fish_indenet, yamlfmt

feat: terraformを追加
  config/aqua/aqua.yaml
Due: yamlfmt

feat: ログの見える化
  script/completions.fish
Due: fish_indenet

feat: 余計な検索はいれない。
  config/fish/config.fish
Due: fish_indenet

fix: TASK→RECIPE
  justfile
Due: none

feat: justのhighlight
  config/nvim/lua/plugins/nvim-treesitter.lua
Due: stylua

feat: mini layout
  config/zellij/layouts/mini.kdl
Due: none

feat: lazygit,仲間はずれにしてごめんね
  script/install.sh
Due: none

feat: syncするtaskを追加
  justfile
Due: none

feat: nil_lsやばい。
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: よくわからんおまじない。
  config/lazygit/config.yml
Due: yamlfmt

feat: vim-startuptimeを追加
  config/aqua/aqua.yaml
Due: yamlfmt

feat: markuplint
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

chore: update
  config/nvim/lazy-lock.json
Due: none

feat: nvim-ts-autotag
  config/nvim/lua/plugins/nvim-ts-autotag.lua
Due: stylua

feat: :Masonで起動できるように
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

fix: ide command
  config/fish/config.fish
Due: fish_indenet

chore: fmt
  config/nvim/lazy-lock.json
Due: none

fix: bug in ide command
  config/fish/config.fish
Due: fish_indenet

feat: コメント機能がほしい。
  config/nvim/lua/plugins/mini_comment.lua
  config/nvim/lua/plugins/nvim-ts-autotag.lua
Due: stylua

fix: tsファイルでemmetは使わないし
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: WSLでclipboardが使えるように
  config/nvim/lua/config/custom.lua
Due: stylua

feat: nvim-treesitter-endwiseを追加
  config/nvim/lua/plugins/nvim-treesitter.lua
Due: stylua

fix: remove invalid language server
  config/nvim/lua/plugins/nvim-lspconfig.lua
Due: stylua

feat: add yq
  config/aqua/aqua.yaml
Due: yamlfmt

feat: どんなに小さくてもkeymapは必要だと主う
  config/zellij/layouts/mini.kdl
Due: none

update: plugins
  config/nvim/lazy-lock.json
Due: none

feat: mkdir.nvim
  config/nvim/lua/plugins/mkdir.lua
Due: stylua

feat: emmet-vimを追加
  config/nvim/lua/plugins/emmet-vim.lua
Due: stylua

feat: 汎用性を増す
  config/fish/config.fish
Due: fish_indenet

feat: taploを追加
  config/aqua/aqua.yaml
Due: yamlfmt

feat: フォーマットを強制化
  justfile
  lefthook.yml
Due: yamlfmt

refactor: 共通化
  script/completions.fish
Due: fish_indenet

refactor: Treesitterのconfigを使いやすく
  config/nvim/lua/plugins/nvim-treesitter.lua
Due: stylua

feat: 嬉しい shell-abbr.nvimを追加
  config/nvim/lua/plugins/shell-abbr.lua
Due: stylua

feat: add numbat config
  config/numbat/config.toml
Due: none
